* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
   
}

#logo img{
    max-width: 40%;
    margin: 30px;
    min-width:150px;

   

}

.topPages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 15vh;
    

}

#toolBar{
    display: flex;
    flex-direction: row;
    margin: auto 50px;
    color:rgb(61 60 60);

}

#toolBar button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 0 5px;
    margin: 0px 5px;
    color:rgb(61 60 60);

}

#toolBar input{
    padding:5px;

}

#itinerary{
    width:100%;
    padding-left: 10px;
    
}

#date{
    float: right;
    padding-right: 15px;

}

#itinerary h3{
    font-size: 1em;
    color:rgb(61 60 60);
    font-weight: bold;

}

#itinerary p{
    color : rgb(61 60 60);
    font-size: 1em;
}

#itinerary label{
    color : #3d3c3c;
    font-size: 1em;

}

#legendIcon{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

#legendIcon img{
    width: 25px;
    height: 25px;

}

#map {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
    padding: 20px;

 }

#areaMap {
    background-color: #fafaf8;
   display: flex;
   flex-direction: row;
    padding: 10px;
    gap: 10px;

}

#cardMap{
width:100%;

}



.cardArticle {
    border: 1px solid #ff4136;
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
    margin: 20px auto;
    box-shadow: 4px 4px 4px rgb(255, 66, 56);
    font-size: 1em;
    color:rgb(61 60 60);
    
}

.cardArticle h3{
font-size: 1.3rem;
font-weight: bold;

}

.cardArticle button{
background-color: #ff4136;
border: none;
border-radius: 5%;
font-size: 1em;
box-shadow: 2px 2px 4px black;
color: white;
margin-bottom: 30px;
padding: 5px;

}

#wrapArticle {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.cardButton {
    padding: 10px;
    margin-left: auto;
    margin-right: 0;

}

#titleFuture{
padding-bottom:15px;
text-transform: uppercase;
color:rgb(61 60 60);
text-shadow: 2px 2px 3px #ffa703 ;
font-size: 2rem;
font-weight: bold;

}

#futureProjects {
    gap: 10px;
    font-size: 1rem;
 
}

.futureTask {
    width: 90%;
    max-height: 300px;
    min-height: 140px;
    border: 1px solid  rgb(255, 168, 5,0.6);
    background-color:white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(255, 168, 5,0.6);
    font-size: 1em;
    margin-bottom: 20px;

}

.futureTask h3{
    font-size:1em;
    padding: 0px 7px 7px;
    color:rgb(61 60 60);
    font-weight: bold;

}

 footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
    z-index: 1000;
    background-color: white;
    

 }
.author{
    color:rgb(61 60 60);
    font-size: 1.1em;
    text-shadow: 2px 2px 2px #ffa703 ; 

}

#copyright p{
    color: #ff4136;

}

#contact button{
    background-color: #ffa703;
    font-size: 1em;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5%;
    box-shadow: 2px 2px 4px black;
    color: rgb(61 60 60);

}

.btnForm{
margin-right: 10px;
padding: 5px 15px 5px 15px;
border-radius: 15px;
background-color: #3d3c3c;
border: 2px solid #ffa703;
color: #ffa703;
box-shadow: 2px 2px 3px #ff4136;
}

.container{
    border: 2px solid #ff4136;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #ff4136;
    color: #3d3c3c;
    padding: 15px;
    margin-bottom: 6%;
    background-color:rgb(62, 61, 61, 0.2);
}

.input{
    border-radius: 15px;
    border: 1px solid #ffa703;
background-color:white;
padding-left: 10px ;

}


@media screen and (max-width:1000px){
    #logo img{
        max-width: 50%;
        margin: 30px;
    
    }

    #areaMap {
        flex-direction: column;

    }

    #map {
        max-width: 100%;
        width: 80%;
       
     }

     footer{
        margin-top: 20px;

 }

 #map {
    height: 57vh;
    padding: 20px;

 }

 #futureProjects {
    font-size: 0.95rem;
 
}

.futureTask h3{
    font-size:1em;
    

}

#titleFuture{
    font-size: 1.7rem;
    
    }

    #itinerary h3{
        font-size: 0.9em;
        
    }

    #itinerary p{
        font-size: 0.9em;

    }

    #itinerary label{
        font-size:0.9em;
    
    }

    .cardArticle h3{
        font-size: 0.9rem;
        
        }

}

@media screen and (max-width:600px) {
    #logo img{
        margin:30px 0px 30px 10px;
    
    }

    #map {
        max-height: 50vh;
       
     }

     #legendIcon img{
        width: 20px;
        height: 20px;
    
    }

    .cardArticle h3{
        font-size: 0.9rem;
        
    }

    .cardArticle {
        font-size: 0.8em;
        
    }

    .futureTask h3{
        font-size:0.9em;
    
    }

    #titleFuture{
    font-size: 1.4rem;
    
    }

    #itinerary h3{
        font-size: 0.9em;
    
    }
    #itinerary p{
        font-size: 0.8em;
    }

    #itinerary label{
        font-size: 0.8em;
    
    }
}