* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#areaMap {
    background-color: #eef0d5;
    display:flex;
}

#map {
   max-width: 60%;
   margin: 20px auto;
   border-radius: 5px;
    

}

#logo img{
    max-width: 40%;
    margin: 30px;

}

.topPages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 15vh;
    

}

#toolBar{
    display: flex;
    flex-direction: row;
    margin: auto 50px;
}

#toolBar button{
background-color: transparent;
border: none;
font-size: 20px;
padding: 0 5px;
margin: 0px 5px;

}

#toolBar input{
    padding:5px;
}
   
    
    


.cardArticle {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-width: 60%;
    margin: 20px auto;

}


.cardButton {
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
}

#futureProjects {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    
}

.futureTask {
    width: 200px;
    max-height: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    
}

#wrapArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}