* {
    font-family: 'Roboto', sans-serif;
}

#map {
    max-height: 400px;

}

#logo img{
    max-width: 200px;

}

.topPages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#toolBar{
    display: flex;
    flex-direction: row;
margin-right: 50px;
}

#toolBar button{
background-color: transparent;
border: none;
font-size: 20px;

}

#toolBar input{
    padding:5px;
}
   
    
    


.cardArticle {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-width: 600px;
    margin: 20px auto;

}


.cardButton {
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
}
